$paneHeight: 40px;
$paneMargin: 3px 0px;

$containerPadding: 20px;
$containerMargin: auto;

$headingFontSize: 46px;
$headingMarginBottom: 4px;

$paragraphFontSize: 16px;

$pageZIndex: 7;
$pagePaddingTop: 3em;

$imgContainerPosition: absolute;
$imgContainerBottom: 5px;
$imgContainerRight: 15px;
$imgHeight: 200px;

.page-container {
    padding: $containerPadding;
    padding-top: $pagePaddingTop;
    position: relative;
}
.img-container {
    position: $imgContainerPosition;
    bottom: $imgContainerBottom;
    right: $imgContainerRight;
    height: $imgHeight;
}
.content-container {
    background-color: black;
    color: white;
    padding: 1.6em;
    width: 550px;
    height: 590px;
    border-bottom-right-radius: 590px;
}
.page-h1 {
    font-size: $headingFontSize;
}
.front {
    z-index: $pageZIndex;
    position: relative; 
    padding-left: 15em;
    padding-top: 8em;
}
.right {
    position: relative;
}
.img-page-heading {
    height: $imgHeight;
    background-size: cover;
}
.title-container {
    text-align: right;
    position: $imgContainerPosition;
    right: 10px;
    width: 100%;
}
