$paneHeight: 50px;
$paneMargin: 3px 0px;

$containerPadding: 20px;
$containerMargin: auto;

$headingFontSize: 50px;
$headingMarginBottom: 4px;

$paragraphFontSize: 16px;

$pageZIndex: 7;
$pagePaddingTop: 3em;

$imgContainerPosition: absolute;
$imgContainerBottom: 5px;
$imgContainerRight: 15px;
$imgHeight: 200px;

.img-container {
    position: $imgContainerPosition;
    bottom: $imgContainerBottom;
    right: $imgContainerRight;
    height: $imgHeight;
}
